[submodule "Artificial-Intelligence-in-BlackJack-Card-Counting"]
	path = Artificial-Intelligence-in-BlackJack-Card-Counting
	url = https://github.com/justinbodnar/Artificial-Intelligence-in-BlackJack-Card-Counting.git
